extends layout

block content
    h1= title
    h3 #{title} is a solution to Toronto's food waste problem

    div.welcome-description
        p All about Waste not Now

    form(method="post")
        input(type="text" name="username")
        input(type="email" name="email" required)
        input(type="submit")
